body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #999;
  background-image: url('./components/images.png');
 
 
}
.quote{
  text-align: center;
  color: #C83400;
}
.App{
  justify-content: center;
  margin-left: 35%;
  margin-top: 15%;
  height: 400px;
  align-items: center;
  /* background-image: url('./components/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover; */
}

ol, ul {
  padding-left: 30px;
 
}
ul>li{
  padding: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 32px;
}

.Square {
  background: #fff;
  border: 1px solid violet;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
